<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOGGLE</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <h1>BOGGLE</h1>

    <section id="boggle">
        <div class="above-board">
            <p>Times Played: {{ numplays }}</p>
            <p>High Score: {{ highscore }}</p>
        </div>
        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <br>
        <form class="guess-form" method="POST">
            <input name="guess" class="guess" autofocus>
                <button>Enter</button>
        </form>
        
        <div class="below-board">
            <p class="timer-area">Time remaining = <span id="timer"></span></p>
            <p class="score-area">Score: 0</p>

            <p class="message-area">
                <!-- Area to display status message, populated by app.js -->
            </p>

            <ul class="words-area">
                <!-- Area to display found words, populated by app.js -->
            </ul>
        </div>
    </section>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/app.js"></script>

</body>
</html>